<div style="text-align: center">
  <h2>Intelligence Investor</h2>
  <form (ngSubmit)="searchStockDetail(searchSymbol.value)" >
  <input type="text" id="searchSymbol" name="searchSymbol" #searchSymbol >
  <input type="submit" value="Submit" >
  </form>
</div>
<br><br>
<table style="width: 100%">
  <thead>
    <tr>
      <th style="width: 5%">Symbol</th>
      <th style="width: 5%">PE Ratio</th>
      <th style="width: 5%">PB Ratio</th>
      <th style="width: 10%">Market Cap</th>
      <th>Business Type</th>
    </tr>
  </thead>
  <tbody>
    @if(this.stockDatas.length > 0){
      @for ( stock of this.stockDatas;track stock.symbol){
        <tr>
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.peRatio }}</td>
          <td>{{ stock.pbRatio }}</td>
          <td>{{ stock.marketCap.toLocaleString('en-US', {maximumFractionDigits:2}) }}</td>
          <td>{{ stock.businessType }}</td>
        </tr>
      }
    } @else{
      <tr><td style="text-align: center;" colspan="5">ไม่มีข้อมูล</td></tr>
    }
  </tbody>
</table>
